<?xml version="1.0"?>
<config>
    <modules>
        <Nybohansen_Economic2>
            <version>5.2.4</version>
            <license>4cd4830d8750ff7a8e2ad933a9dea220</license>
            <appToken>zOlKmOeBW9nrIxIQZmCiot0rCYm7O5Zda0CiJTgkjOM=</appToken>
        </Nybohansen_Economic2></modules>
    <global>
        <helpers>
            <economic2>
                <class>Nybohansen_Economic2_Helper</class>
            </economic2>
        </helpers>
        <models>
            <economic2>
                <class>Nybohansen_Economic2_Model</class>
                <resourceModel>economic2_mysql4</resourceModel>
            </economic2>
            <!-- declaring model vs db table relation -->
            <economic2_mysql4>
                <class>Nybohansen_Economic2_Model_Mysql4</class>
                <entities>
                    <orderStatus>
                        <table>economic2_order_status</table>
                    </orderStatus>
                    <customerId>
                        <table>economic2_customers</table>
                    </customerId>
                </entities>
            </economic2_mysql4>
        </models>
        <controllers>
            <economic2>
                <class>Nybohansen_Economic2_controllers</class>
            </economic2>
        </controllers>
        <blocks>
            <economic2>
                <class>Nybohansen_Economic2_Block</class>
            </economic2>
        </blocks>
        <resources>
            <economic2_setup>
                <setup>
                    <module>Nybohansen_Economic2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </economic2_setup>

            <economic2_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </economic2_write>

            <economic2_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </economic2_read>
        </resources>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <economic2_observer>
                        <type>singleton</type>
                        <class>Nybohansen_Economic2_Observer</class>
                        <method>sales_order_save_after</method>
                    </economic2_observer>
                </observers>
            </sales_order_save_commit_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <economic2_observer>
                        <type>singleton</type>
                        <class>Nybohansen_Economic2_Observer</class>
                        <method>sales_order_creditmemo_save_after</method>
                    </economic2_observer>
                </observers>
            </sales_order_creditmemo_save_after>
            <customer_address_delete_after>
                <observers>
                    <economic2_observer>
                        <type>singleton</type>
                        <class>Nybohansen_Economic2_Observer</class>
                        <method>customer_address_delete_after</method>
                    </economic2_observer>
                </observers>
            </customer_address_delete_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Nybohansen_Economic2>
                    <files>
                        <default>Nybohansen_Economic2.csv</default>
                    </files>
                </Nybohansen_Economic2>
            </modules>
        </translate>
        <events>
            <sales_order_address_save_after>
                <observers>
                    <economic2_observer>
                        <type>singleton</type>
                        <class>Nybohansen_Economic2_Observer</class>
                        <method>sales_order_address_save_after</method>
                    </economic2_observer>
                </observers>
            </sales_order_address_save_after>
            <catalog_product_save_after>
                <observers>
                    <economic2_observer>
                        <type>singleton</type>
                        <class>Nybohansen_Economic2_Observer</class>
                        <method>catalog_product_save_after</method>
                    </economic2_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after_done>
                <observers>
                    <economic2_observer>
                        <type>singleton</type>
                        <class>Nybohansen_Economic2_Observer</class>
                        <method>catalog_product_delete_after_done</method>
                    </economic2_observer>
                </observers>
            </catalog_product_delete_after_done>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <economic2_core_block_abstract_prepare_layout_before>
                        <class>Nybohansen_Economic2_Observer</class>
                        <method>addMassAction</method>
                    </economic2_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <customer_save_after>
                <observers>
                    <economic2_observer>
                        <type>singleton</type>
                        <class>Nybohansen_Economic2_Observer</class>
                        <method>customer_save_after</method>
                    </economic2_observer>
                </observers>
            </customer_save_after>
        </events>
        <layout>
            <updates>
                <economic2>
                    <!--
                    We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
                    - Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
                    -->
                    <file>nybohansen/economic2.xml</file>
                </economic2>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <customer_address_save_after>
                <observers>
                    <economic2_observer>
                        <type>singleton</type>
                        <class>Nybohansen_Economic2_Observer</class>
                        <method>customer_address_save_after</method>
                    </economic2_observer>
                </observers>
            </customer_address_save_after>
        </events>
        <routers>
            <economic2>
                <use>standard</use>
                <args>
                    <module>Nybohansen_Economic2</module>
                    <frontName>economic2</frontName>
                </args>
            </economic2>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <nybohansen_economic2 before="Mage_Adminhtml">Nybohansen_Economic2_Adminhtml</nybohansen_economic2>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <economic2_options>
            <moduleInfo>
                <api_url>https://api.e-conomic.com/secure/api1/economicwebservice.asmx</api_url>
                <moduleStatus>0</moduleStatus>
            </moduleInfo>
            <accountInfo>
                <use_token_based_login>0</use_token_based_login>
            </accountInfo>
            <productConfig>
                <product_update_from_economic>0</product_update_from_economic>
                <product_creation>1</product_creation>
                <product_deletion>0</product_deletion>
                <product_group_use_default>1</product_group_use_default>
                <product_id_use_default>1</product_id_use_default>
                <product_unit_use_default>1</product_unit_use_default>
            </productConfig>
            <debtorConfig>
                <debtor_create_new>1</debtor_create_new>
                <debtor_identification_field>email</debtor_identification_field>
                <compare_debtorgroup_when_searching_for_debtor>0</compare_debtorgroup_when_searching_for_debtor>
                <update_debtor_information>1</update_debtor_information>
                <vat_eu_countries>BE,BG,CZ,DK,DE,EE,IE,GR,ES,FR,HR,IT,CY,LV,LT,LU,HU,MT,NL,AT,PL,PT,RO,SI,SK,FI,SE,GB</vat_eu_countries>
            </debtorConfig>
            <orderConfig>
                <create_order_status>processing</create_order_status>
                <create_invoice_status>complete</create_invoice_status>
                <book_invoice>0</book_invoice>
                <force_book>0</force_book>
                <store_order_number_in_economic>1</store_order_number_in_economic>
                <store_order_number_in>heading</store_order_number_in>
                <add_comment_when_synced>1</add_comment_when_synced>
                <use_base_currency>0</use_base_currency>
                <use_departments>0</use_departments>
            </orderConfig>
            <order_integrity_config>
                <integrity_check_notify>0</integrity_check_notify>
            </order_integrity_config>
        </economic2_options>
    </default>
</config>
